[submodule "crazyflie-data-collection"]
	path = crazyflie-data-collection
	url = https://github.com/IMRCLab/crazyflie-data-collection.git

[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = ../crazyflie-firmware.git
    branch = upstream_lee
